/*****************************************/
/** Panel								**/
/*****************************************/
.fl_panel {
	display: 		-moz-inline-stack;
	display: 		inline-block;
	vertical-align: top;
	zoom: 			1;
	*display: 		inline;
}
.fl_panel .panel_content {
	min-height: 	20px;
	_height: 		20px;
	overflow:		auto;
}
.fl_panel .pc_h_auto {
	min-height: 	inherit;
	height:			auto;
}
.fl_panel .pc_h_half,
.fl_panel .pc_h_full {
	min-height: 	inherit;
}
.fourth {
	width:			25%
}
.threefourth {
	width:			75%
}
.third {
	width:			33%;
}
.third34 {
	width:			34%;
}
.twothird {
	width:			67%;
}
.full {
	width:			100%
}
.half{
	width:			50%
}

	.fl_panel .panel_inner {
		margin-left:	10px;
		margin-bottom:	10px;
	}

		.fl_panel .panel_inner .panel_head {
			height: 25px;
			background-color: #ddd;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;
			border-top: 1px solid #ccc;
		}
		.fl_panel .panel_inner .panel_head_inner {
			height:				25px;
			padding:			0px 10px;
			font-weight:		bold;
			line-height:		25px;
			position: 			relative;
			float: 				left;
			color: 				#000
		}

			.panel_head ul.navigation {
				top: 0px;
			}
				.panel_head ul.navigation li {
					float: left;
					border-left: 1px solid #ccc;
					top: 0px;
					position: relative;
					min-height: 25px;
				}
				.panel_head ul.navigation li:hover {
					background-color: #ccc;
				}
					.panel_head ul.navigation li a {
						padding-left: 5px;
						padding-right: 5px;
						top: 5px;
					}

					.panel_head ul.navigation li ul li {
						background-color: #ccc;
						border-left: 1px solid #bbb;
						border-right: 1px solid #bbb;
						border-bottom: 1px solid #bbb;
					}

					.panel_head ul.navigation li ul li:hover {
						background-color: #ddd;
					}

					.panel_head ul.navigation li ul li {
						height: auto;
					}

					.panel_head ul.navigation li ul li a {
						display: block;
						width: 200px;
						padding: 2px 0px 2px 5px!important;
					}

					.panel_head ul.navigation li ul li:last-child {
						border-bottom-left-radius: 10px;
						border-bottom-right-radius: 10px;
					}

				.panel_head ul.navigation li a img {
					vertical-align: middle;
				}

		.fl_panel .panel_inner .panel_content {
			padding:			10px;
			border:				1px solid #dfdfdf;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			border-color: #dfdfdf;
		}